* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


main {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: flex;
    width: 60%;
    height: 60%;
    flex-direction: column;
    align-items: center;
}

.gallery .images {
    width: 100%;
    column-count: 6;
    /*max number of columns*/
    column-width: 150px;
    /*min-width of each column*/
    gap: 10px;
    /*gap between each column*/
}

.images .gallery-image-card {
    position: relative;
    list-style: none;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
    line-height: 0px;
}

.images .gallery-image-card .image-details {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: auto;
    line-height: 1rem;
    backdrop-filter: blur(1px);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
    padding: 5px 10px 5px 10px;
}

.images .gallery-image-card:hover .image-details {
    bottom: 0px;
    transition: all 0.5s ease;
}

.images .gallery-image-card .image-details .image-title {
    font-size: 0.7rem;
    color: whitesmoke;
    font-weight: 800;
}

.images .gallery-image-card .image-details .image-author {
    display: flex;
    font-size: 0.8rem;
    color: whitesmoke;
    font-weight: 200;
    align-items: center;
}

.images .gallery-image-card .image-details .image-author span {
    padding-left: 5px;
}

.images .gallery-image-card .image-details .image-rating {
    display: flex;
    justify-content: end;
    font-size: 12px;
    color: whitesmoke;
}

.images .gallery-image-card .image-details .image-rating i {
    cursor: pointer;
    font-size: 0.8rem;
}

.images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#lightbox {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.65);
    animation-name: modalOpen;
    animation-duration: 0.3s;
}

.lightbox-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: black;
    justify-content: start;
    align-items: center;
}

.lightbox-header {
    display: flex;
    justify-content: end;
    height: 50px;
    width: 100%;
    padding: 10px;
}

#lightbox-preview-close {
    font-size: 2rem;
    color: gray;
}

#lightbox-preview-close:hover {
    color: whitesmoke;
    transition: all 0.3s ease;
}

.lightbox-wrapper .lightbox-preview {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    width: 80%;
    padding: 10px 10px 0px 10px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
    color: gray !important;
}



/* Infobox */
/*=====================================================*/
.lightbox-preview-infobox {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70px;
    padding: 10px;
    font-size: 0.8rem;
}

.lightbox-preview-infobox h4 {
    color: lightgray;
    font-weight: 400;
}

.lightbox-preview-infobox h4 span {
    color: whitesmoke;
    font-weight: 500;
    margin-right: 10px;
}

.lightbox-preview-infobox p {
    font-size: 0.7rem;
    color: lightgray;
    margin-top: 5px;
}

.lightbox-preview-infobox p span {
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
    margin-right: 10px;
}

/*=====================================================*/

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.myPreviewSwiper {
    height: calc(100% - 70px - 15%) !important;
    width: 100%;
}

.previewSwiperImage {
    width: auto !important;
    max-width: 100%;
    height: auto !important;
    max-height: 100%;
    object-fit: contain !important;
}

.myPreviewThumbsSwiper-wrapper {
    display: flex;
    height: 15%;
    max-width: 800px;
}

.myPreviewThumbsSwiper {
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    /* #444; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}


.myPreviewThumbsSwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.myPreviewThumbsSwiper .swiper-slide-thumb-active {
    opacity: 1;
}

/* mobile */
@media screen and (max-width: 800px) {

    .myPreviewThumbsSwiper-wrapper {
        width: 100%;
    }

}

@media screen and (max-height: 500px) {

    .myPreviewThumbsSwiper-wrapper {
        display: none;
    }

    .myPreviewSwiper {
        height: 80%;
    }

    .lightbox-preview-infobox{
        height: 20%;
    }
}


/*=====================================================*/
@keyframes modalOpen {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}