.about {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(196, 196, 196, 1));
}

#about_darkbox {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background: gray;
    width: 95%;
    height: 90%;
    opacity: 1;
    z-index: 1;
}
#about_whitebox {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: end;
    right: 0;
    bottom: 0;
    background: transparent;
    width: 95%;
    height: 90%;
    opacity: 1;
    z-index: 2;
}

#about_whitebox h1{
    height: 5%;
    width: 100%;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 200;
    color: white;
    letter-spacing: 10px;
}

#about_content{
    display: flex;
    height: 95%;
    width: 100%;
    background: white;
    box-shadow: 10px 10px 50px -15px rgb(207, 207, 207);
}