#about {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(196, 196, 196, 1));
    scroll-snap-align: start;
    background: green;
}

#about_darkbox {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background: gray;
    width: 95%;
    height: 90%;
    opacity: 1;
    z-index: 1;
}

#about_whitebox {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: end;
    right: 0;
    bottom: 0;
    background: transparent;
    width: 95%;
    height: 90%;
    opacity: 1;
    z-index: 2;
}

#about_whitebox h1 {
    height: 5%;
    width: 100%;
    text-transform: uppercase;
    font-size: clamp(2rem, 1.4vw, 3.5rem);
    font-weight: 200;
    color: white;
    letter-spacing: 8px;
}

#about_whitebox_content {
    display: flex;
    flex-direction: row;
    height: 95%;
    width: 100%;
    background: white;
    padding: 100px 100px;
    box-shadow: 10px 10px 50px -15px rgb(207, 207, 207);
}

.about_whitebox_content_boxes {
    display: flex;
    width: calc(100% / 3);
    height: auto;
}

#about_whitebox_content_box_image {
    width: 50%;
    padding: 0;
}

#about_whitebox_content_box_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    content: url("../media/group_vertical_600x800.JPG");
}

#about_whitebox_content_box_text {
    font-size: 0.6vw;
    font-weight: 300;
    line-height: 40px;
    text-align: justify;
    padding: 0 100px 0 100px;
    width: 50%;
}

#about_whitebox_content_box_swiper {
    padding-right: 0px;
}

.swiper-slide-header {
    display: flex;
    align-items: end;
    justify-content: center;
    background: white;
    height: 50%;
    width: 100%;
    color: rgb(196, 196, 196);
    padding-bottom: 30px;
}



.swiper-slide-footer {
    height: 50%;
    width: 100%;
}

/*################################## HORIZONTAL ##################################*/
/*################################################################################*/

/* Bildschirmbreite kleiner 3000px und Ausrichtung horizontal */
@media screen and ((max-width: 3000px) and (orientation: landscape)) {

    #about_whitebox_content {
        padding: 70px 70px;
    }

    #about_whitebox h1 {
        font-size: clamp(2rem, 1.4vw, 3.5rem);
    }

    #about_whitebox_content_box_image {
        width: 50%;
        padding: 0;
    }

    #about_whitebox_content_box_text {
        padding: 0 70px 0 70px;
        width: 50%;
        line-height: 30px;
        font-size: 0.6vw;
    }

    #about_whitebox_content_box_swiper {
        padding: 0;
    }

}

/* Bildschirmbreite kleiner 2000px und Ausrichtung horizontal */
@media screen and ((max-width: 2000px) and (orientation: landscape)) {

    #about_whitebox_content {
        padding: 40px 40px;
    }

    #about_whitebox h1 {
        display: flex;
        align-items: end;
        font-size: clamp(1.5rem, 1.4vw, 2rem);
    }

    #about_whitebox_content_box_text {
        padding: 0 40px 0 40px;
    }

}

/* Bildschirmbreite kleiner 1500px und Ausrichtung horizontal */
@media screen and ((max-width: 1500px) and (orientation: landscape)) {

    #about_whitebox_content {
        padding: 30px 30px;
    }

    #about_whitebox h1 {
        font-size: 1.5vh;
    }

    #about_whitebox_content_box_text {
        padding: 0 30px 0 30px;
        line-height: 15px;
        font-size: 0.7vw;
    }

    #about_whitebox_content_box_swiper {
        padding: 0;
    }

}

/* Bildschirmbreite kleiner 1000px und Ausrichtung horizontal */
/* extended mobile */
@media screen and ((max-width: 1000px) and (orientation: landscape)) {

    #about {
        height: 100vh;
        padding: 100px 0 0 0;
    }

    #about_section_main {
        height: 100%;
        margin: auto;
    }

    #about_whitebox {
        height: 97.5%;
    }

    #about_whitebox_content {
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .about_whitebox_content_boxes {
        width: 100%;
        align-items: center;
    }

    #about_whitebox_content_box_image {
        padding: 0;
        height: 30%;
    }

    #about_whitebox_content_box_image img {
        content: url("../media/group_hori_1000x650.JPG");
    }

    #about_whitebox_content_box_text {
        line-height: 35px;
        font-size: clamp(1.25rem, 1.5vw, 1.5rem);
        padding: 30px 0 30px 0;
        height: 30%;
    }

    #about_whitebox_content_box_swiper {
        padding: 0px;
        height: 40%;
        width: 60%;
    }
}

/*################################### VERTIKAL ###################################*/
/*################################################################################*/

/* Bildschirmbreite kleiner 3000px und Ausrichtung vertikal */
@media screen and ((max-width: 3000px) and (orientation: portrait)) {

    #about {
        padding: 100px 0 0 0;
    }

    #about_section_main {
        height: 100%;
        min-width: 1000px;
    }

    #about_whitebox {
        height: 97.5%;
    }

    #about_whitebox h1 {
        display: flex;
        align-items: end;
    }

    #about_whitebox_content {
        flex-direction: column;
        padding: 100px 100px;
        align-items: center;
    }

    #about_whitebox_content_box_image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40%;
        width: 100%;
        padding: 0;
    }

    #about_whitebox_content_box_image img {
        content: url("../media/group_hori_1000x650.JPG");
        width: 100%;
    }

    #about_whitebox_content_box_text {
        display: flex;
        justify-items: center;
        height: 20%;
        width: 100%;
        padding: 50px 0 50px 0;
        margin: 0 auto;
        line-height: 2vh;
        font-size: 1.25rem;
    }

    #about_whitebox_content_box_swiper {
        display: flex;
        justify-content: start;
        height: 40%;
        width: 30vh;
        max-width: 500px;
        padding: 0;
    }
}

@media screen and ((max-width: 1500px) and (orientation: portrait)) {

    #about_whitebox_content {
        padding: 70px 70px;
    }

    #about_whitebox_content_box_text {
        line-height: 2vh;
        font-size: 1rem;
        padding: 30px 0 30px 0;
    }
}

@media screen and ((max-width: 1000px) and (orientation: portrait)) {

    #about{
        height: 125vh;
    }

    #about_section_main {
        width: 100%;
        height: 100%;
        max-height: 125vh;
        min-width: 0;
        margin: 0;
    }

    #about_darkbox {
        width: 95%;
    }

    #about_whitebox {
        width: 95%;
    }

    #about_whitebox_content {
        justify-content: space-between;
    }

    #about_whitebox_content_box_image {
        height: 55vw;
        max-height: 500px;
    }

    #about_whitebox_content_box_text{
        height: 40vw;
    }

    #about_whitebox_content_box_swiper {
        height: 40%;
    }
}


/* Bildschirmbreite kleiner 800px und orientierung egal:*/
/* modbile */
@media screen and (max-width: 800px) and ((orientation: portrait) or (orientation: landscape)){

    #about {
        height: 200vh;
        max-height: 1550px;
        padding: 100px 0 0 0;
    }

    #about_section_main {
        width: 100%;
        min-width: 0;
        height: 100%;
        max-height: 200vh;
        margin: 0;
    }

    #about_whitebox_content {
        height: 100%;
        flex-direction: column;
        padding: 5%;
        justify-content: start;
    }

    #about_whitebox {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: end;
        right: 0;
        bottom: 0;
        background: transparent;
        width: 95%;
        height: 97.5%;
        opacity: 1;
        z-index: 2;
    }

    #about_whitebox h1 {
        font-size: 1.5rem;
    }

    .about_whitebox_content_boxes {
        width: 100%;
        max-width: 100%;
        padding: 0px 30px;
    }

    #about_whitebox_content_box_image {
        height: 30vh;
        min-height: 180px;
        max-height: 270px;
        padding: 0;
    }

    #about_whitebox_content_box_image img {
        content: url("../media/group_vertical_600x800.JPG");
    }

    #about_whitebox_content_box_text {
        height: auto;
        line-height: clamp(25px, 4vh, 35px);
        font-size: clamp(1rem, 1.5vh, 1rem);
    }

    #about_whitebox_content_box_swiper {
        display: flex;
        padding: 0;
        width: 100%;
        height: 450px;
    }

}