.landing {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.landing_background{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-10px) scale(2);
}

#landing_text{
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 400px;
}

#landing_text i{
    font-size: 2rem;
    color: rgb(104, 104, 104);
}

#landing_text h1 {
    font-size: 5.5rem;
    color: white;
    line-height: 100px;
}

#landing_text h2 {
    font-size: 4.5rem;
    color: white;
    line-height: 100px;
}

#landing_text h3 {
    font-size: 1.5rem;
    color: white;
    font-weight: 200;
    line-height: 80px;
}
