* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 14px;
}

main {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

.dark-mode {
    color: black !important;
}

.section_main {
    display: flex;
    position: relative;
    width: 75vw;
    min-width: 2000px;
    height: 40vw;
    margin: auto;
}

.burger {
    display: none;
}

.burger div{
    width: 30px;
    height: 3px;
    background: rgba(266, 266, 266);
    margin: 6px;
}

@media screen and (max-width: 3000px) {

    .section_main {
        min-width: 1500px;
    }

}

@media screen and (max-width: 2000px) {

    .section_main {
        min-width: 1000px;
    }

}

@media screen and (max-width: 1500px) {

    .section_main {
        min-width: 600px;
    }

}

/* extended mobile */
@media screen and (max-width: 1000px){

    .section_main {
        height: calc(80% - 20%);    /*<-- Bei Änderung der Höhe - margin-top berücksichtigen */
        margin-top: 20%;
        min-width: none;

    }
}

/* mobile */
@media screen and (max-width: 800px){

    .section_main {
        height: calc(80% - 20%);    /*<-- Bei Änderung der Höhe - margin-top berücksichtigen */
        margin-top: 20%;
        min-width: 0;

    }
}